@model IEnumerable<Biblioteka.Models.Entities.Wypozyczenie>

@{
    ViewData["Title"] = "Index";
}

<h1>Wypożyczenia</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Książka
            </th>
            <th>
                Data Wypożyczenia
            </th>
            <th>
                Data Zwrotu
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ksiazka.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWypozyczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZwrotu)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kasuj</a>
            </td>
        </tr>
}
    </tbody>
</table>
